### 1. data cleaning

In [83]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.svm import SVR
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
import sklearn.metrics as skm
from sklearn.model_selection import train_test_split
import operator as op

from sklearn.impute import SimpleImputer

import seaborn as sns

In [84]:
data = pd.read_csv('/Users/liminzhenscc/Documents/study/python_data_analyze/project/2data_sc_salary/glassdoor_jobs.csv')
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Science Graduate/Undergraduate - Immed St...,$97K - $141K (Glassdoor Est.),Be part of the Award Winning CIMIC Graduate Pr...,3.8,UGL Limited\n3.8,North Shore,5001 to 10000 Employees,1984,Subsidiary or Business Segment,Construction,"Construction, Repair & Maintenance Services",Unknown / Non-Applicable
1,Research Associate - Data Science,$97K - $141K (Glassdoor Est.),Job no: 510607\nWork type: Full time\nLocation...,4.2,University of New South Wales\n4.2,Sydney,1001 to 5000 Employees,1949,College / University,Colleges & Universities,Education,Unknown / Non-Applicable
2,Graduate Data Science - Brisbane (Corporate),$97K - $141K (Glassdoor Est.),Job Number:\n82295\nWork type:\nPermanent - Fu...,3.7,Aurizon\n3.7,Brisbane,1001 to 5000 Employees,2009,Company - Public,Taxi & Car Services,Transportation & Logistics,$2 to $5 billion (USD)
3,Consulting - Data & AI - 2022/23 Summer Vacati...,$97K - $141K (Glassdoor Est.),"Date: 18-Jul-2022\n\nLocation:\nCanberra, ACT,...",4.0,Deloitte\n4.0,Canberra,10000+ Employees,1850,Company - Private,Accounting & Tax,Finance,$10+ billion (USD)
4,Data Scientist,$97K - $141K (Glassdoor Est.),"Maltem is a community of 1,200+ passionate ind...",3.8,MALTEM Australia\n3.8,Sydney,1001 to 5000 Employees,2001,Company - Private,Business Consulting,Management & Consulting,$50 to $100 million (USD)

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206 entries, 0 to 1205
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1206 non-null   object
 1   Salary Estimate    1206 non-null   object
 2   Job Description    1206 non-null   object
 3   Rating             1206 non-null   float64
 4   Company Name       1206 non-null   object
 5   Location           1206 non-null   object
 6   Size               1206 non-null   object
 7   Founded            1206 non-null   int64
 8   Type of ownership  1206 non-null   object
 9   Industry           1206 non-null   object
 10  Sector             1206 non-null   object
 11  Revenue            1206 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 113.2+ KB

column needed to deal with:
1. Salary Estimate
2. Company Name
3. age(counted via Founded)
4. Job Description (data scientist , data analyst, machine learning, data engeneering.

There are 12 columns, except Founded and Rasting, all other columns are object, we need to do some data cleaning to get useful information that we may need for the final model.

In [86]:
#dealing with Salary Estimate. get the lowest and maximum value.
salary = data['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary = salary.apply(lambda x: x.replace('K', '').replace('$', ''))
salary

0       97 - 141
1       97 - 141
2       97 - 141
3       97 - 141
4       97 - 141
          ...
1201     73 - 91
1202     73 - 91
1203     73 - 91
1204     73 - 91
1205     73 - 91
Name: Salary Estimate, Length: 1206, dtype: object

In [87]:
data['min_salary'] = salary.apply(lambda x: int(x.split('-')[0]))
data['max_salary'] = salary.apply(lambda x: int(x.split('-')[-1]))
data['ave_salary'] = (data.min_salary+data.max_salary)/2
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,ave_salary
0,Data Science Graduate/Undergraduate - Immed St...,$97K - $141K (Glassdoor Est.),Be part of the Award Winning CIMIC Graduate Pr...,3.8,UGL Limited\n3.8,North Shore,5001 to 10000 Employees,1984,Subsidiary or Business Segment,Construction,"Construction, Repair & Maintenance Services",Unknown / Non-Applicable,97,141,119.0
1,Research Associate - Data Science,$97K - $141K (Glassdoor Est.),Job no: 510607\nWork type: Full time\nLocation...,4.2,University of New South Wales\n4.2,Sydney,1001 to 5000 Employees,1949,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,97,141,119.0
2,Graduate Data Science - Brisbane (Corporate),$97K - $141K (Glassdoor Est.),Job Number:\n82295\nWork type:\nPermanent - Fu...,3.7,Aurizon\n3.7,Brisbane,1001 to 5000 Employees,2009,Company - Public,Taxi & Car Services,Transportation & Logistics,$2 to $5 billion (USD),97,141,119.0
3,Consulting - Data & AI - 2022/23 Summer Vacati...,$97K - $141K (Glassdoor Est.),"Date: 18-Jul-2022\n\nLocation:\nCanberra, ACT,...",4.0,Deloitte\n4.0,Canberra,10000+ Employees,1850,Company - Private,Accounting & Tax,Finance,$10+ billion (USD),97,141,119.0
4,Data Scientist,$97K - $141K (Glassdoor Est.),"Maltem is a community of 1,200+ passionate ind...",3.8,MALTEM Australia\n3.8,Sydney,1001 to 5000 Employees,2001,Company - Private,Business Consulting,Management & Consulting,$50 to $100 million (USD),97,141,119.0

In [88]:
#delete rating after company name
data['company_name'] = data['Company Name'].apply(lambda x: x.split('\n')[0])
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,ave_salary,company_name
0,Data Science Graduate/Undergraduate - Immed St...,$97K - $141K (Glassdoor Est.),Be part of the Award Winning CIMIC Graduate Pr...,3.8,UGL Limited\n3.8,North Shore,5001 to 10000 Employees,1984,Subsidiary or Business Segment,Construction,"Construction, Repair & Maintenance Services",Unknown / Non-Applicable,97,141,119.0,UGL Limited
1,Research Associate - Data Science,$97K - $141K (Glassdoor Est.),Job no: 510607\nWork type: Full time\nLocation...,4.2,University of New South Wales\n4.2,Sydney,1001 to 5000 Employees,1949,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,97,141,119.0,University of New South Wales
2,Graduate Data Science - Brisbane (Corporate),$97K - $141K (Glassdoor Est.),Job Number:\n82295\nWork type:\nPermanent - Fu...,3.7,Aurizon\n3.7,Brisbane,1001 to 5000 Employees,2009,Company - Public,Taxi & Car Services,Transportation & Logistics,$2 to $5 billion (USD),97,141,119.0,Aurizon
3,Consulting - Data & AI - 2022/23 Summer Vacati...,$97K - $141K (Glassdoor Est.),"Date: 18-Jul-2022\n\nLocation:\nCanberra, ACT,...",4.0,Deloitte\n4.0,Canberra,10000+ Employees,1850,Company - Private,Accounting & Tax,Finance,$10+ billion (USD),97,141,119.0,Deloitte
4,Data Scientist,$97K - $141K (Glassdoor Est.),"Maltem is a community of 1,200+ passionate ind...",3.8,MALTEM Australia\n3.8,Sydney,1001 to 5000 Employees,2001,Company - Private,Business Consulting,Management & Consulting,$50 to $100 million (USD),97,141,119.0,MALTEM Australia

In [89]:
data['Revenue'] = data['Revenue'].apply(lambda x: x if 'unknown' not in x.lower() else -1)

In [90]:
data.Revenue.head()

0                           -1
1                           -1
2       $2 to $5 billion (USD)
3           $10+ billion (USD)
4    $50 to $100 million (USD)
Name: Revenue, dtype: object

In [91]:
#age of company
data['age'] = data.Founded.apply(lambda x: x if x==-1 else 2022-x)
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,ave_salary,company_name,age
0,Data Science Graduate/Undergraduate - Immed St...,$97K - $141K (Glassdoor Est.),Be part of the Award Winning CIMIC Graduate Pr...,3.8,UGL Limited\n3.8,North Shore,5001 to 10000 Employees,1984,Subsidiary or Business Segment,Construction,"Construction, Repair & Maintenance Services",-1,97,141,119.0,UGL Limited,38
1,Research Associate - Data Science,$97K - $141K (Glassdoor Est.),Job no: 510607\nWork type: Full time\nLocation...,4.2,University of New South Wales\n4.2,Sydney,1001 to 5000 Employees,1949,College / University,Colleges & Universities,Education,-1,97,141,119.0,University of New South Wales,73
2,Graduate Data Science - Brisbane (Corporate),$97K - $141K (Glassdoor Est.),Job Number:\n82295\nWork type:\nPermanent - Fu...,3.7,Aurizon\n3.7,Brisbane,1001 to 5000 Employees,2009,Company - Public,Taxi & Car Services,Transportation & Logistics,$2 to $5 billion (USD),97,141,119.0,Aurizon,13
3,Consulting - Data & AI - 2022/23 Summer Vacati...,$97K - $141K (Glassdoor Est.),"Date: 18-Jul-2022\n\nLocation:\nCanberra, ACT,...",4.0,Deloitte\n4.0,Canberra,10000+ Employees,1850,Company - Private,Accounting & Tax,Finance,$10+ billion (USD),97,141,119.0,Deloitte,172
4,Data Scientist,$97K - $141K (Glassdoor Est.),"Maltem is a community of 1,200+ passionate ind...",3.8,MALTEM Australia\n3.8,Sydney,1001 to 5000 Employees,2001,Company - Private,Business Consulting,Management & Consulting,$50 to $100 million (USD),97,141,119.0,MALTEM Australia,21

In [98]:
data['python_yn'] = data['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
data['r_yn'] = data['Job Description'].apply(lambda x: 1 if 'r' in x.lower() else 0)
data['ML_yn'] = data['Job Description'].apply(lambda x: 1 if 'machine learning' in x.lower() else 0)
data['excel_yn'] = data['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
data['spark_yn'] = data['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
data['aws_yn'] = data['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [104]:
data['graduate_yn'] = data['Job Title'].apply(lambda x: 1 if 'graduate' in x.lower() else 0)
data.graduate_yn.value_counts()

0    718
1    488
Name: graduate_yn, dtype: int64

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206 entries, 0 to 1205
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1206 non-null   object
 1   Salary Estimate    1206 non-null   object
 2   Job Description    1206 non-null   object
 3   Rating             1206 non-null   float64
 4   Company Name       1206 non-null   object
 5   Location           1206 non-null   object
 6   Size               1206 non-null   object
 7   Founded            1206 non-null   int64
 8   Type of ownership  1206 non-null   object
 9   Industry           1206 non-null   object
 10  Sector             1206 non-null   object
 11  Revenue            1206 non-null   object
 12  min_salary         1206 non-null   int64
 13  max_salary         1206 non-null   int64
 14  ave_salary         1206 non-null   float64
 15  company_name       1206 non-null   object
 16  age                1206 non-null   int64
 17  python_yn          1206 non-null   int64
 18  r_yn               1206 non-null   int64
 19  ML_yn              1206 non-null   int64
 20  excel_yn           1206 non-null   int64
 21  spark_yn           1206 non-null   int64
 22  aws_yn             1206 non-null   int64
 23  cloud_yn           1206 non-null   int64
 24  graduate_yn        1206 non-null   int64
dtypes: float64(2), int64(12), object(11)
memory usage: 235.7+ KB

In [ ]:
data.to_csv('/Users/liminzhenscc/Documents/study/python_data_analyze/project/2data_sc_salary/glassdoor_jobs_cleaned.csv')